{% extends 'base.html' %}
{% block title %} Hello {% endblock %}
{% block body %}
<nav class="fast-nav navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand text-danger col-sm-3" href="/"><b>Web Crawler</b></a>
  <div class="collapse navbar-collapse col-sm-9" id="navbarText" style="display: inline-block !important; text-align: right;">
    <span class='navbar-text row'>

      <span class="col-sm">
        <a href='/weather'
           alt=""
           width="30"
           height="30"
           style='border-radius: 50%;'>날씨</a>
      </span>
    </span>
  </div>
</nav>

{% endblock %}